@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/*
Colors
Primary - #1E88E5
Darken primary - #1976D2
Secondary - 43A047
darken secondary - 388E3C

*/





html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  font-family: 'Lato', sans-serif;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
}
p, li {
  line-height: 1.4em;
}

/* Elements */
.btn {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: #1E88E5;
  color: #fff;
  border-radius: 7px;
}
.btn:hover {
  background: #1976D2;
}

/* Navigation and Page Structure */
body {
  display: flex;
}
nav {
  width: 90px;
  height: 100vh;
  position: sticky;
  top: 0;
}
main {
  width: 100%;
  opacity: 1;
  transition: all 250ms linear;
}
main.hidden {
  opacity: 0;
}
.wrapper {
  margin: 0 auto;
  padding: 20px 20px;
  max-width: 1340px;
}
.wrapper > h1, .wrapper > h2 {
  margin-top: 0;
}

/* Navigation */
nav {
  background: #37474F;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.nav1 {
}
.nav2 {
}
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 20px 10px;
  position: relative;
  height: 70px;
}
.nav1 a {
  border-bottom: 1px solid #141b1f;
}
.nav2 a {
  border-top: 1px solid #141b1f;
}
nav a * {
  color: #B0BEC5;
}
nav a:hover, nav a.active {
  background: #263238;
}
nav a i {
  font-size: 28px;
  text-shadow: 1px 1px 1px #263238;
  transition: all 250ms linear;
}
nav a div {
  font-size: 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 15px;
  opacity: 0;
  margin-top: -5px;
  transition: all 250ms linear;
}
nav a:hover i {
  margin-top: -15px;
}
nav a:hover div {
  bottom: 10px;
  opacity: 1;
}

/* Skills Page */
.skills-page.background {
  background: #CFD8DC;
}
.skills-page .wrapper {
  max-width: 900px;
}
.skills-page h2 {
  text-align: center;
  margin-top: 1.5em;
  transition: all 200ms linear;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill {
  flex: 1 0 21%;
  text-align: center;
  margin: 20px 0;
  transition: all 200ms linear;
}
.skill .image-container {
  max-width: 100px;
  height: 110px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.skill .image-container.tall {
  max-width: 90px;
}
.skill .image-container.wide {
  max-width: 130px;
}
.skill img {
  max-width: 100%;
}
.skill .title {
  font-size: 18px;
  margin-top: 0.5em;
}

h2.hidden, .skill.hidden {
  opacity: 0;
  margin-top: -20px;
}


/* Project Page */
.project-page.background {

}
.project-page .wrapper {
  max-width: 900px;
}
.project {
  margin: 100px 0;
}
.project:first-of-type {
  margin-top: 50px;
}
.project .image {
  max-width: 80%;
  margin: 0 auto;
}
.project .image img {
  width: 100%;
}
.project .description {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}
.project .github-link {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
.project .fa-github {
  font-size: 38px;
}
